@font-face {
    font-family: "poppins";
    src: url("fonts/Poppins/Poppins-Regular.ttf");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #C5E898, #29ADB2);
    height: 100vh;
    overflow: hidden;
    font-family: "poppins";
    color: #265073;
}

.main-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.converter-container{
    height: relative;
    width: 400px;
    background-color: #ffff;
    border-radius: 3.5em;

}

.converter-container .top-part{
    height: 100px;
    background: #265073;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.5em 3.5em 0 0;
}

.top-part h3{
    font-family: "poppins";
    color: white;
}

.converter-container .worded-numbers-container {
    display: block;
    border-bottom: solid;
    border-color: #265073;
    padding-left: 10px;
    margin: 2.5em;
}

.converter-container .input-part {
    height: relative;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.converter-container .input-part form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2em;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.converter-container .worded-numbers-container #copyNum {
    border-radius: 2em;
    height: 3.5em;
    width: 3.5em;
    border: none;
    background-color: #ffff;
    position:relative;
    top: 2px;
    left: 88.2%;

}

.converter-container .input-part #readNum {
    padding-left: 10px;
    border-radius: inherit;
    height: 3.5em;
    width: 70%;
    border: none;
    box-shadow: 0 0 3px #265073;
    outline: none;
    
}

.converter-container .input-part #submitNum {
    border-radius: inherit;
    height: 3.5em;
    width: 3.5em;
    border: none;
    background-color: #ffff;
}

.converter-container .input-part #submitNum .fa-circle-arrow-right{
    height: relative;
    width: relative;
}

.history-div {
    height: relative;
    width: 400px;
    background-color: #ffff;
    border-radius: 3.5em;
}

.history-div .top-part {
    height: 100px;
    background: #265073;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.5em 3.5em 0 0;
}

.history-div .worded-numbers-container {
    display: block;
    border-bottom: solid;
    border-color: #265073;
    padding-left: 10px;
    margin: 2.5em;
}

.history-div .input-part {
    height: relative;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: space-evenly;

}

.history-div .input-part #delete-history {
    border-radius: inherit;
    height: 3.5em;
    width: 3.5em;
    border: none;
    background-color: #ffff;
}

.title-div{
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.title-div .title-container {
    background-color: #265073;
    width: 67%;
    border-radius: 3em;
}

.title-div h1{
    text-align: center;
    color: white;
    font-size: 50px;
}